.gallery-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-responsive {
  display: block;
  max-width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -o-object-fit: cover;
  margin: 0;
}
.img-holder {
  display: block;
  width: 32%;
  margin-left: 1%;
  position: relative;
  /* top: 0; */
  background: #fff;
  overflow: hidden;
  z-index: 9;
  /* margin-bottom: 30px; */
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
