@import "colors";

.img_container {
  position: relative;
  color: $blue-1;
  height: 300px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($black, 0.5);
  height: 100%;
  width: 100%;
}
