@import "colors";

.learnscuba__container {
  .learn-scuba--icon {
    &:before,
    &:after {
      transform: translateY(-25px);
    }
  }
  .price--indicator {
    color: rgba($black, 0.5);
  }
  .mid__box--width {
    width: 70%;
    margin: auto;
  }
  .w-320 {
    width: 320px;
  }
  .p-l-120 {
    padding-left: 120px;
  }
  .midInfo__overide {
    width: 65%;
  }
}
