@import "../../../styles/comingSoon/colors";

.sale-container {
  height: 70px;
  color: $blue-1;
  background-color: $black;
}

.social-media__box {
  height: 30px;
  width: 30px;
  > img {
    height: 100%;
    width: 100%;
  }
}
